@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #0c0b09;
    --global-bg-2: #d9d9d9;
    --global-bg-3: #eaeae3;
    --global-bg-4: #f4bd3c;
    --global-bg-5: #f4e3cd;
    --global-text-1: #000000;
    --global-text-2: #f57338;
    --global-text-3: #ffffff;
  }
}

@layer utilities {
  /* Global Background Colors */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }

  /* Global Text Colors */
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
}